//colors
$link-color: #ffdd00;
$light-color: #ffffff;
$dark-color: #000000;
$dark-transparent: rgba(0, 0, 0, 0.7);
$first-input-color: #bababa;
$second-input-color: #ababab;
$red-color: #db302c;
$border-color: #b7b7b7;
$reviews-bg: #f7f8f8;
$news-border: #e1e1e1;
$breadcrumbs-border: #d4d4d4;
